<!DOCTYPE html>
<html>
<head>
     <titl>Home page</titl>
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="./css/bootstrap.css">
</head>
<body> 
  {{>header}}
   {{#each articles}} 
    <div class="card"  style="width:18rem;" id="mycard">
     <img src="{{this.urlToimage}}" class="card-img-top" id="cardimage">
      <div class="card-body">
       <h5 class="card-title">{{this.title}} </h5>
       <p class="card-text">{{this.description}}</p>
      </div>
    </div> 
    {{#each}}
   {{>footer}}
 



    <script src="js/app.js"></script>
</body>
</html>



